*{
    margin: 0;
    font-family: 'Century Gothic', cursive;
}

body{
    background-repeat: repeat;
    background-size: contain;
    width: 100vw;
    height: 100%;
}

header{
    background-color: ##f6c177;
    width: 100%;
    height: 150px;
    float: left;
}

.center{
    max-width: 960px;
    width: 100%;
    margin: auto;
    background-color: ##f6c177;

}

.forma{
    max-width: 960px;
    width: 100%;
    margin: auto;
    background-color: ##f6c177;
}

.name{
    float: left;
    color: #bdc4d4;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 20px;
    float: left;
}

nav{
    float: right;
    display: flex;
    margin: 20px;
    max-width: 960px;
    width: 100%;

}

.nav-link{
    padding-left:30px ;
    font-size: 25px;
    color: #7b9c92;
}

.tablic{
    width: 80%;
    margin: auto;
    border: 1px solid grey;
    color: ##f6c177;
    text-aligh: center;
}

th {
   border: 1px solid grey;
}

td {
   border: 1px solid grey;
}

.chet{
    background: #0f1a2b;
}


footer{
    background-color: ##f6c177;
    width: 100%;
    height: 30px;
    float: left;
}

.name2{
    float: left;
    color: #bdc4d4;
}

